<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
     <h2>User info</h2>
     <!--ここからユーザー情報-->
      <%= render "info", user:@user %>
          <!--ここまで-->
      <div class="row">
         <%= link_to edit_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog edit-user_52324"></i>
         <% end %>
      </div>
      <h2 class="mt-3">New book</h2>
      <!--ここから投稿作成ページ-->
       <%= render "books/new" ,book:@book %>
      <!--ここまで-->
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
              <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th colspan="3"></th>
              </tr>
        </thead>

 <!--ここにブック投稿一覧がくる-->
         <tbody>
          <tbody>
           <% @users.each do |user| %>
              <tr>
                <td>
                   <div class="row">
                       <%= link_to user_path(@user) do %>
                          <%= image_tag @user.get_profile_image(50,50) %>
                       <% end %>
                   </div>
                </td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
              </tr>
           <% end %>
        </tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
